@use '../variable/color';
@use '../variable/font';
@import '../mixin/mixins';

.wrapper-most-wanted {
    background-color: color.$cream;
    @include container($justify-content: center, $align-items: center, $flex-direction:column);

  .most-wanted-container {
    max-width: 100vw;
    min-height: 600px;
    width: 100%;
    margin: 0 20px;

    &-heading {
      max-width: 1300px;
      width: 100%;
      min-height: 100px;
      margin-bottom: 20px;
      margin: auto;

      .title {
        font-family: font.$font-family;
        font-weight: 400;
        font-size: 70px;
        letter-spacing: 10px;
        color: color.$dark-gray;
      }
    }
  }

  .most-wanted-card-container {
    @include container ($justify-content:space-around);
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .most-wanted-card {
      flex: 0 0 auto; 
      scroll-snap-align: center;
      background-color: color.$white;
      border-radius: 10px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 260px; 
      margin: 0 30px;
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      @include container($align-items: center, $flex-direction: column);

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: auto;
        border-bottom: 2px solid #e0e0e0;
      }

      .car-model {
        font-size: 1.6rem;
        font-weight: 700;
        color: color.$dark-gray;
        margin: 15px 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: font.$font-family-manrope;
      }

      p {
        font-size: 1.1rem;
        color: #555;
        margin: 10px 0;
        padding: 0 15px;
        text-align: center;
      }

      button {
        @include cta-car-slider;
        font-family: font.$font-family-manrope;
      }
    }
  }
    .button{
        max-width: 1100px;
        width: 100%;
        min-height: 50px;
        @include container(space-between, center);

        .prev-button,
        .next-button{
            color: #0056b3;
            font-size: 40px;
        }

        .cta-most-wanted{
            @include cta-car-slider;
            font-family: font.$font-family-manrope;
            padding: 10px 50px;
        }
    }
}
