@use '../variable/color';
@use '../variable/font';
@import '../mixin/mixins';

/* Navbar */
header {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .navigation {
        max-width: 1300px;
        width: 100%;
        min-height: 30px;
        margin: auto;
        @include container(space-between, center);

        .logo {
            font-size: 25px;
            color: color.$white;
            font-family: font.$font-family;
            font-weight: 300;
            letter-spacing: 3px;

            span {
                color: color.$golden;
                font-style: italic;
            }
        }

        .icon {
            display: none;
            font-size: 30px;
            color: color.$golden;
            margin-top: 20px;
            cursor: pointer;
        }

        .list-container {
            display: flex;
            align-items: center;

            li a {
                color: color.$white;
                padding: 18px 50px;
                font-family: font.$font-family;
                font-weight: 300;
                letter-spacing: 2px;
                transition: all 0.2s ease, color 0.3s ease;

                &:hover {
                    color: color.$golden;
                    border-bottom: 3px solid color.$golden;
                }

                &.active {
                    background-color: color.$light-black;
                    color: color.$golden;
                    border-bottom: 3px solid color.$golden;
                }
            }
        }

        .dropdown {
            position: relative;

            .dropbtn {
                cursor: pointer;
                padding: 18px 50px;
                color: color.$white;
                font-family: font.$font-family;

                &:hover {
                    color: color.$golden;
                }
            }

            /* Stile comune per dropdown-content */
            .dropdown-content,
            .dropdown-content-service {
                display: none;
                position: absolute;
                background-color: black;
                width: 180px;
                top: 38px;
                left: 0px;
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                z-index: -1;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                flex-direction: column;

                li .dropbtn {
                    padding: 10px;
                    font-size: 14px;
                    color: color.$white;
                    transition: color 0.2s ease;
                }

                a {
                    color: color.$white;
                    text-decoration: none;
                    display: block;
                    padding: 10px;

                    &:hover {
                        background-color: rgba(241, 196, 15, 0.1);
                        color: color.$golden;
                    }
                }
            }

            &:hover .dropdown-content {
                display: flex;
                height: 150px;
            }

            &:hover .dropdown-content-service {
                display: flex;
                height: 300px;
            }
        }
    }
}

/* Mobile Styles */
@media screen and (max-width: 1100px) {
    header {
        .navigation {
            max-width: 600px;

            .icon {
                display: block;
            }

            .list-container {
                max-width: 40%;
                width: 100%;
                min-height: 50vh;
                display: none;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                top: 70px;
                left: 0;
                background-color: black;
                z-index: 100;

                li a {
                    text-align: left;
                    width: 100%;
                    padding: 15px 20px;
                    border-bottom: none;
                    
                    &:hover {
                        color: color.$white;
                        border-bottom: none;
                    }

                    &.active {
                        background-color: black;
                        color: color.$white;
                        border-bottom: none;
                    }
                }
            }

            .dropdown {
                .dropbtn {
                    padding: 15px 25px;
                }

                .dropdown-content,
                .dropdown-content-service {
                    width: 180px;
                    top: -10px;
                    left: 120px;
                }

                &:hover .dropdown-content,
                &:hover .dropdown-content-service {
                    display: flex;
                }
            }

            .list-container.show {
                display: flex;
            }
        }
    }
}
