@use '../variable/color';
@use '../variable/font';
@import '../../mixin/mixins';

.brands__container {
    max-width: 100vw;
    width: 100%;
    min-height: 100px;
    background-color: color.$cream;
  
    &-logos {
      max-width: 1200px;
      width: 100%;
      min-height: 100px;
      margin: auto;
      @include flex-wrap(row, space-evenly, center); 
  
      svg {
        width: 100px;
        height: auto;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: color.$white;
        box-shadow: 1px 10px 20px rgb(110, 110, 110);
      }
  
      svg:not(:last-child) {
        margin: 10px;
      }
    }
  }