@use '../variable/color';
@use '../variable/font';
@import '../../mixin/mixins';

.hero__container {
    max-width: 100vw;
    min-height: 600px;
    width: 100%;
    background: url(../../image/alfa-romeo.jpg) no-repeat center center/cover;
  
    &-text {
      max-width: 850px;
      width: 100%;
      min-height: 200px;
      margin-left: 30px;
      @include flex-container(column);
  
      &-title {
        font-family: font.$font-family;
        font-weight: 200;
        font-size: 90px;
        letter-spacing: 10px;
        color: color.$white;
        line-height: 100px;
        margin-bottom: 10px;
      }
  
      &-info {
        font-family: font.$font-family;
        font-weight: 200;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 30px;
        letter-spacing: 2px;
      }
    }
  }