@use '../variable/color';
@use '../variable/font';

.reviews__container{
    max-width: 1500px;
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: color.$white;

    .review__left{
        max-width: 200px;
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-head{
            font-family: font.$font-family;
        }
    }

    .fa-solid{
        color: color.$golden;
    }
}

.review-cards-container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    min-height: 600px;

    .card{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-width: 300px;
        min-height: 200px;
        width: 100%;
        box-shadow: 2px 4px 10px black;
        overflow: scroll;
        padding: 10px;
        margin-bottom: 20px;

        img{
            width: 80px;
            height: auto;
        }

        &-name{
            font-family: font.$font-family;
            letter-spacing: 1px;
        }

        .location{
            font-family: font.$font-family;
            letter-spacing: 1px;
            font-weight: 500;
        }

        &__text-container{
            max-width: 300px;
            min-height: 200px;
            width: 100%;

            .card__text-info{
                font-family: font.$font-family;
                letter-spacing: 1px;
                line-height: 25px;
                text-align: justify;
            }
        }
    }
}
