@import './mixin/mixins';
@import './partial/navbar';
@import './partial/car-booking/style-car-booking-hero';
@import './partial/car-booking/style-car-booking-info';
@import './partial/car-booking/style-car-booking-form';
@import './partial/footer';

*{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    padding-top:30px;
}


