@import '../style/partial/navbar';
@import '../style/partial/index/_hero-index.scss';
@import '../style/partial/index/_vehicles-cards';
@import '../style/partial/index/steps-card';
@import '../style/partial/index/review';
@import '../style/partial/index/premium-car-rental';
@import '../style/partial/index/why-ready-ride';
@import '../style/partial/index/most-wanted';
@import '../style/partial/index/rental-in-sweden';
@import '../style/partial/contact-form';
@import '../style/partial/footer';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


