@import '../style/partial/navbar';
@import '../style/partial/about/hero-about';
@import '../style/partial/about/our-team';
@import '../style/partial/about/content';
@import '../style/partial/about/our-mission';
@import '../style/partial/contact-form';
@import '../style/partial/footer';

*{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}