/* Navbar */
header {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .navigation {
  max-width: 1300px;
  width: 100%;
  min-height: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
header .navigation .logo {
  font-size: 25px;
  color: #FFFFFF;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}
header .navigation .logo span {
  color: #FFD700;
  font-style: italic;
}
header .navigation .icon {
  display: none;
  font-size: 30px;
  color: #FFD700;
  margin-top: 20px;
  cursor: pointer;
}
header .navigation .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navigation .list-container li a {
  color: #FFFFFF;
  padding: 18px 50px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s ease, color 0.3s ease;
  transition: all 0.2s ease, color 0.3s ease;
}
header .navigation .list-container li a:hover {
  color: #FFD700;
  border-bottom: 3px solid #FFD700;
}
header .navigation .list-container li a.active {
  background-color: rgb(26, 21, 21);
  color: #FFD700;
  border-bottom: 3px solid #FFD700;
}
header .navigation .dropdown {
  position: relative;
  /* Stile comune per dropdown-content */
}
header .navigation .dropdown .dropbtn {
  cursor: pointer;
  padding: 18px 50px;
  color: #FFFFFF;
  font-family: "Inter Tight", sans-serif;
}
header .navigation .dropdown .dropbtn:hover {
  color: #FFD700;
}
header .navigation .dropdown .dropdown-content,
header .navigation .dropdown .dropdown-content-service {
  display: none;
  position: absolute;
  background-color: black;
  width: 180px;
  top: 38px;
  left: 0px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: -1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .navigation .dropdown .dropdown-content li .dropbtn,
header .navigation .dropdown .dropdown-content-service li .dropbtn {
  padding: 10px;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
header .navigation .dropdown .dropdown-content a,
header .navigation .dropdown .dropdown-content-service a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 10px;
}
header .navigation .dropdown .dropdown-content a:hover,
header .navigation .dropdown .dropdown-content-service a:hover {
  background-color: rgba(241, 196, 15, 0.1);
  color: #FFD700;
}
header .navigation .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}
header .navigation .dropdown:hover .dropdown-content-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

/* Mobile Styles */
@media screen and (max-width: 1100px) {
  header .navigation {
    max-width: 600px;
  }
  header .navigation .icon {
    display: block;
  }
  header .navigation .list-container {
    max-width: 40%;
    width: 100%;
    min-height: 50vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: black;
    z-index: 100;
  }
  header .navigation .list-container li a {
    text-align: left;
    width: 100%;
    padding: 15px 20px;
    border-bottom: none;
  }
  header .navigation .list-container li a:hover {
    color: #FFFFFF;
    border-bottom: none;
  }
  header .navigation .list-container li a.active {
    background-color: black;
    color: #FFFFFF;
    border-bottom: none;
  }
  header .navigation .dropdown .dropbtn {
    padding: 15px 25px;
  }
  header .navigation .dropdown .dropdown-content,
  header .navigation .dropdown .dropdown-content-service {
    width: 180px;
    top: -10px;
    left: 120px;
  }
  header .navigation .dropdown:hover .dropdown-content, header .navigation .dropdown:hover .dropdown-content-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navigation .list-container.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero__container {
  max-width: 100vw;
  min-height: 600px;
  width: 100%;
  background-image: url(../image-index/audi.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__container .wrapper {
  max-width: 1200px;
  width: 100%;
  min-height: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.hero__container .wrapper-title {
  max-width: 700px;
  width: 100%;
  min-height: 30px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 200;
  font-size: 90px;
  letter-spacing: 10px;
  color: #FFFFFF;
  line-height: 100px;
  margin-bottom: 10px;
  -webkit-animation: slide-in-title 1.3s ease-in-out;
          animation: slide-in-title 1.3s ease-in-out;
}
@-webkit-keyframes slide-in-title {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-title {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.hero__container .wrapper-info {
  max-width: 700px;
  width: 100%;
  min-height: 170px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30px;
  letter-spacing: 2px;
  -webkit-animation: slide-in-info 1s ease-in-out;
          animation: slide-in-info 1s ease-in-out;
}
@-webkit-keyframes slide-in-info {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-info {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.vehicle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 100vw;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  background-color: #FFAD60;
}

.vehicle__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: -50px;
}
.vehicle__cards a {
  cursor: pointer;
}
.vehicle__cards a img {
  max-width: 200px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 20px;
  -webkit-box-shadow: 2px 2px 20px black;
          box-shadow: 2px 2px 20px black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.vehicle__cards a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.vehicle__cards .cabriolet-animation {
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
}
.vehicle__cards .sport-animation {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}
.vehicle__cards .suv-animation {
  -webkit-animation: fadeIn 1.5s ease-in;
          animation: fadeIn 1.5s ease-in;
}
.vehicle__cards .sedan-animation {
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper-steps {
  max-width: 100vw;
  width: 100%;
  min-height: 100px;
  background-color: #FFAD60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper-steps .steps__container {
  max-width: 1300px;
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper-steps .steps__container-content {
  max-width: 200px;
  min-height: 200px;
  width: 100%;
  padding: 0 20px;
}
.wrapper-steps .steps__container-content .steps__num {
  font-family: "Inter Tight", sans-serif;
  color: #311414;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.wrapper-steps .steps__container-content .steps__container-title {
  font-family: "Inter Tight", sans-serif;
  color: #311414;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 20px;
}
.wrapper-steps .steps__container-content .steps__container-info {
  font-family: "Inter Tight", sans-serif;
  color: #311414;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 14px;
}

.review-heading {
  max-width: 1300px;
  min-height: 50px;
  width: 100%;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
  color: #333333;
  margin: auto;
  margin-top: 40px;
}

.reviews__container {
  max-width: 100vw;
  min-height: 200px;
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__container .review__left {
  max-width: 200px;
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.reviews__container .review__left-head {
  font-family: "Inter Tight", sans-serif;
}
.reviews__container .review__left-numbers {
  font-family: "Inter Tight", sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 2px;
}
.reviews__container .fa-solid {
  color: #FFD700;
}

.review-cards-container {
  max-width: 1000px;
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.review-cards-container .card {
  max-width: 300px;
  min-height: 200px;
  width: 100%;
  -webkit-box-shadow: 2px 4px 10px black;
          box-shadow: 2px 4px 10px black;
  overflow: hidden;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.review-cards-container .card img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
.review-cards-container .card-name {
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.review-cards-container .card .location {
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 5px 0 10px;
  color: #666464;
}
.review-cards-container .card__text-container {
  max-width: 300px;
  width: 100%;
  margin-top: 8px;
}
.review-cards-container .card__text-container .card__text-info {
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: justify;
  font-size: 14px;
  color: #333333;
}

.wrapper-premium {
  max-width: 100vw;
  min-height: 100px;
  width: 100%;
  background-color: rgb(26, 21, 21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.wrapper-premium .premium__container {
  max-width: 1300px;
  min-height: 500px;
  width: 100%;
  margin: auto;
}
.wrapper-premium .premium__container .premium__heading {
  max-width: 950px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}
.wrapper-premium .premium__container .premium__heading .heading {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
  color: #FFFFFF;
}
.wrapper-premium .premium__container .cards_container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 100%;
  width: 100%;
  min-height: auto;
}
.wrapper-premium .premium__container .cards_container .card {
  max-width: 300px;
  min-height: 400px;
  width: 100%;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
}
.wrapper-premium .premium__container .cards_container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.wrapper-premium .premium__container .cards_container .card .card-info-container {
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  position: relative;
  z-index: 2;
}
.wrapper-premium .premium__container .cards_container .card .card-info-container .card-head {
  font-family: "Inter Tight", sans-serif;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-size: 22px;
  letter-spacing: 2px;
}
.wrapper-premium .premium__container .cards_container .card .card-info-container .card-info {
  max-width: 250px;
  width: 100%;
  min-height: 50px;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.wrapper-premium .premium__container .cards_container .card .card-info-container .cta {
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: inherit;
  border: 1px solid #FFD700;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px #FFD700;
          box-shadow: 1px 1px 5px #FFD700;
  margin-top: 10px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.wrapper-premium .premium__container .cards_container .card .card-info-container .cta:hover {
  background-color: hsl(35, 100%, 50%);
  color: rgb(26, 21, 21);
}
.wrapper-premium .premium__container .cards_container .card .card-info-container .cta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.wrapper-premium .premium__container .cards_container .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.wrapper-premium .premium__container .cards_container .card.luxury-car {
  background: url("../image-index/premium-img/luxury-car.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.private-lounge {
  background: url("../image-index/premium-img/private-lounge.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.chauffeur {
  background: url("../image-index/premium-img/chauffeur.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.long-term {
  background: url("../image-index/premium-img/long-term.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.short-term {
  background: url("../image-index/premium-img/short-term.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.wedding {
  background: url("../image-index/premium-img/wedding.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.driving-tours {
  background: url("../image-index/premium-img/driving-tour.jpg");
  background-size: cover;
}
.wrapper-premium .premium__container .cards_container .card.drive-experience {
  background: url("../image-index/premium-img/drive-experience.jpg");
  background-size: cover;
}

.wrapper-why-ready-ride {
  max-width: 100vw;
  min-height: 800px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 30, 30, 0.9)), to(rgb(0, 0, 0))), url(../../../image-index/speed.jpg);
  background-image: linear-gradient(rgba(31, 30, 30, 0.9), rgb(0, 0, 0)), url(../../../image-index/speed.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.wrapper-why-ready-ride .why-container {
  max-width: 1300px;
  min-height: 600px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-why-ready-ride .why-container-heading {
  max-width: 650px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}
.wrapper-why-ready-ride .why-container-heading .title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
  color: #FFFFFF;
}
.wrapper-why-ready-ride .why-container-heading .title span {
  font-style: italic;
  color: #FFD700;
}
.wrapper-why-ready-ride .why-container .why-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper-why-ready-ride .why-container .why-container-content .why-container-image {
  max-width: 700px;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.wrapper-why-ready-ride .why-container .why-container-content .why-container-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
}
.wrapper-why-ready-ride .why-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  margin: 0 auto;
  max-width: 550px;
  min-height: 500px;
  margin-bottom: 20px;
}
.wrapper-why-ready-ride .why-container .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 550px;
  min-height: 70px;
  width: 100%;
  margin-bottom: 20px;
}
.wrapper-why-ready-ride .why-container .menu-title .title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.wrapper-why-ready-ride .why-container .menu-title .menu-cta {
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: inherit;
  border: 1px solid #FFD700;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px #FFD700;
          box-shadow: 1px 1px 5px #FFD700;
  margin-top: 10px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: inherit;
  cursor: pointer;
}
.wrapper-why-ready-ride .why-container .menu-title .menu-cta:hover {
  background-color: hsl(35, 100%, 50%);
  color: rgb(26, 21, 21);
}
.wrapper-why-ready-ride .why-container .menu-title .menu-cta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.wrapper-why-ready-ride .why-container .menu-title .menu-cta:hover {
  background-color: #FFD700;
  color: rgb(26, 21, 21);
}
.wrapper-why-ready-ride .why-container .menu-title .menu-cta:focus {
  outline: 2px solid #FFD700;
}
.wrapper-why-ready-ride .why-container .menu .info {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}
.wrapper-why-ready-ride .why-container .menu .info .paragraph {
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.wrapper-why-ready-ride .why-container .menu .info.active {
  max-height: 500px;
}

.wrapper-most-wanted {
  background-color: #FFEDD8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.wrapper-most-wanted .most-wanted-container {
  max-width: 100vw;
  min-height: 600px;
  width: 100%;
  margin: 0 20px;
}
.wrapper-most-wanted .most-wanted-container-heading {
  max-width: 1300px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  margin: auto;
}
.wrapper-most-wanted .most-wanted-container-heading .title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
  color: #333333;
}
.wrapper-most-wanted .most-wanted-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: 20px 10px;
}
.wrapper-most-wanted .most-wanted-card-container::-webkit-scrollbar {
  display: none;
}
.wrapper-most-wanted .most-wanted-card-container p {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1px;
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  scroll-snap-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 260px;
  margin: 0 30px;
  -webkit-transition: -webkit-transform 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: -webkit-transform 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transition: transform 0.4s ease, box-shadow 0.4s ease, -webkit-transform 0.4s ease, -webkit-box-shadow 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #e0e0e0;
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card .car-model {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333333;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Manrope", sans-serif;
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card p {
  font-size: 1.1rem;
  color: #555;
  margin: 10px 0;
  padding: 0 15px;
  text-align: center;
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card button {
  background: #FFD700;
  color: rgb(26, 21, 21);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, transform 0.3s ease;
  transition: background 0.4s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  margin: 15px 0;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Inter Tight", sans-serif;
  font-family: "Manrope", sans-serif;
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card button:hover {
  background-color: hsl(35, 100%, 50%);
  color: rgb(26, 21, 21);
}
.wrapper-most-wanted .most-wanted-card-container .most-wanted-card button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.wrapper-most-wanted .button {
  max-width: 1100px;
  width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.wrapper-most-wanted .button .prev-button,
.wrapper-most-wanted .button .next-button {
  color: rgb(26, 21, 21);
  font-size: 50px;
}
.wrapper-most-wanted .button .cta-most-wanted {
  background: #FFD700;
  color: rgb(26, 21, 21);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, transform 0.3s ease;
  transition: background 0.4s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  margin: 15px 0;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Inter Tight", sans-serif;
  font-family: "Manrope", sans-serif;
  padding: 10px 50px;
}
.wrapper-most-wanted .button .cta-most-wanted:hover {
  background-color: hsl(35, 100%, 50%);
  color: rgb(26, 21, 21);
}
.wrapper-most-wanted .button .cta-most-wanted:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rental-in-sweden-wrapper {
  max-width: 100vw;
  width: 100%;
  min-height: 200px;
  background-color: #FFFFFF;
}
.rental-in-sweden-wrapper .rental-in-sweden-heading {
  max-width: 1300px;
  width: 100%;
  min-height: 100px;
  margin: auto;
}
.rental-in-sweden-wrapper .rental-in-sweden-heading .heading {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
  color: rgb(26, 21, 21);
}
.rental-in-sweden-wrapper .rental-in-sweden-container {
  max-width: 1300px;
  min-height: 700px;
  width: 100%;
  margin: auto;
}
.rental-in-sweden-wrapper .rental-in-sweden-container .rental-in-sweden-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
.rental-in-sweden-wrapper .rental-in-sweden-container .rental-in-sweden-content-container .info {
  max-width: 650px;
  width: 100%;
  min-height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.rental-in-sweden-wrapper .rental-in-sweden-container .rental-in-sweden-content-container .info p {
  font-family: "Inter Tight", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
  color: rgb(26, 21, 21);
  line-height: 26px;
  text-align: justify;
}
.rental-in-sweden-wrapper .rental-in-sweden-container .rental-in-sweden-content-container .rental-in-sweden-img {
  max-width: 600px;
  min-height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rental-in-sweden-wrapper .rental-in-sweden-container .rental-in-sweden-content-container .rental-in-sweden-img .img-top {
  max-width: 600px;
  min-height: 200px;
  width: 100%;
}
.rental-in-sweden-wrapper .rental-in-sweden-container .rental-in-sweden-content-container .rental-in-sweden-img .img-bottom {
  max-width: 600px;
  min-height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-wrapper {
  background-color: #FFFFFF;
  max-width: 100vw;
  min-height: 600px;
  width: 100%;
}
.form-wrapper .form-heading {
  max-width: 1300px;
  width: 100%;
  min-height: 100px;
  margin: auto;
}
.form-wrapper .form-heading .heading {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
  color: rgb(26, 21, 21);
}
.form-wrapper .form-container {
  max-width: 1300px;
  min-height: 600px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-wrapper .form-container .form {
  max-width: 700px;
  min-height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.form-wrapper .form-container .form label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
.form-wrapper .form-container .form input[type=text],
.form-wrapper .form-container .form input[type=email],
.form-wrapper .form-container .form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(26, 21, 21);
  border-radius: 5px;
  font-family: "Inter Tight", sans-serif;
}
.form-wrapper .form-container .form input[type=text]:hover,
.form-wrapper .form-container .form input[type=email]:hover,
.form-wrapper .form-container .form textarea:hover {
  background-color: #FFEDD8;
}
.form-wrapper .form-container .form input[type=text]:focus,
.form-wrapper .form-container .form input[type=email]:focus,
.form-wrapper .form-container .form textarea:focus {
  border-color: #333333;
}
.form-wrapper .form-container .form textarea {
  resize: none;
}
.form-wrapper .form-container .form button {
  background: #FFD700;
  color: rgb(26, 21, 21);
  border: none;
  border-radius: 15px;
  padding: 10px 90px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, transform 0.3s ease;
  transition: background 0.4s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  margin: 15px 0;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Inter Tight", sans-serif;
}
.form-wrapper .form-container .form button:hover {
  background-color: hsl(35, 100%, 50%);
  color: rgb(26, 21, 21);
}
.form-wrapper .form-container .form button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-wrapper .form-container .map {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 1rem;
}
.form-wrapper .form-container .map iframe {
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  border-radius: 5px;
}

.footer-wrapper {
  max-width: 100vw;
  min-height: 300px;
  width: 100%;
  background-color: rgb(26, 21, 21);
}
.footer-wrapper .footer-content-container {
  max-width: 1300px;
  min-height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto;
}
.footer-wrapper .footer-content-container .content {
  max-width: 1000px;
  width: 100%;
  min-height: 100px;
  border-bottom: 0.5px solid #FFD700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.footer-wrapper .footer-content-container .content img {
  max-width: 1300px;
  width: 100%;
  min-height: 60px;
  padding: 20px;
}
.footer-wrapper .footer-content-container .links {
  max-width: 1200px;
  min-height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-wrapper .footer-content-container .links .content-container {
  max-width: 200px;
  min-height: 100px;
  width: 100%;
}
.footer-wrapper .footer-content-container .links .content-container .link-list {
  text-align: center;
}
.footer-wrapper .footer-content-container .links .content-container .link-list .link {
  font-family: "Inter Tight", sans-serif;
  padding: 10px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.footer-wrapper .footer-content-container .links .content-container .link-list .link:hover {
  color: #FFD700;
}
.footer-wrapper .icons {
  max-width: 300px;
  min-height: 100px;
  width: 100%;
  border-top: 1px solid #FFD700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.footer-wrapper .icons i {
  font-size: 30px;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.footer-wrapper .icons i:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #FFD700;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}