@import '../style/partial/navbar';
@import '../style/partial/_hero-index.scss';
@import '../style/partial/_vehicles-cards';
@import '../style/partial/steps-card';
@import '../style/partial/brands';
@import '../style/partial/review';
@import '../style/partial/premium-car-rental';
@import '../style/partial/why-ready-ride';
@import '../style/partial/most-wanted';
@import '../style/partial/rental-in-sweden';

*{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

