@import '../style/partial/navbar';
@import '../style/partial/vehicles/hero-vehicles';
@import '../style/partial/vehicles/brands-vehicles';
@import '../style/partial/footer';

*{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    padding-top: 30px;
}

html{
    scroll-behavior: smooth;
}