@use '../../variable/color';
@use '../../variable/font';
@import '../../mixin/mixins';

.rental-in-sweden-wrapper{
    max-width: 100vw;
    width: 100%;
    min-height: 200px;
    background-color: color.$white;


    .rental-in-sweden-heading{
        max-width: 1300px;
        width: 100%;
        min-height: 100px;
        margin: auto;

        .heading{
            @include title;
            color: color.$light-black;
        }
    }

    .rental-in-sweden-container{
        max-width: 1300px;
        min-height: 700px;
        width: 100%;
        margin: auto;

        .rental-in-sweden-content-container{
            @include container(space-between, center, row, wrap);
            margin-bottom: 30px;
            
            .info{
                max-width: 650px;
                width: 100%;
                min-height: 680px;
                @include container(space-between, flex-start, column);

                p{
                    @include info;
                }
            }

            .rental-in-sweden-img{
                max-width: 600px;
                min-height: 650px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                .img-top{
                    max-width: 600px;
                    min-height: 200px;
                    width: 100%;
                }

                .img-bottom{
                    max-width: 600px;
                    min-height: 200px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}