@mixin cta {
  padding: 10px 20px;
  color: color.$white;
  background-color: inherit;
  border: 1px solid color.$golden;
  font-family: font.$font-family;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px color.$golden;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: color.$hover-cta;
    color: color.$light-black;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@mixin cta-car-slider{
    background: color.$golden;
    color: color.$light-black;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.4s ease, transform 0.3s ease;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: font.$font-family;

    &:hover {
      background-color: color.$hover-cta;
      color: color.$light-black;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

@mixin submit{
  background: color.$golden;
  color: color.$light-black;
  border: none;
  border-radius: 15px;
  padding: 10px 90px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.4s ease, transform 0.3s ease;
  margin: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: font.$font-family;

  &:hover {
    background-color: color.$hover-cta;
    color: color.$light-black;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@mixin container(
  $justify-content: center, 
  $align-items: center, 
  $flex-direction: row, 
  $flex-wrap: nowrap
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin info{
  font-family: font.$font-family;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
  color: color.$light-black;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: justify;
}

@mixin p-cta{
  font-family: font.$font-family;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 2px;
  color: color.$white;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
}

@mixin title{
  font-family: font.$font-family;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 10px;
}
